tensorboard
jaxtyping
opencv-python
pyexr
matplotlib
torchmetrics
torchmetrics[image]
torch-tb-profiler
prettytable
pyembree
embreex
trimesh
click
scipy
tqdm
pyyaml
geffnet
glob2
protobuf==4.25
mitsuba
omegaconf
dacite
hydra-core
